$cor-primaria: #4a2472
$cor-secundaria: #7843af
$cor-terciaria: #762b9ede
$preto-clasico: #0e0707
$fundo-cards: rgb(145,41,224) linear-gradient(180deg, rgba(145,41,224,1) 0%, rgba(89,33,125,1) 99%)
$branco-clasico: #FFFFFF
$font-Montserrat: "Montserrat"
$font-paragrafos:  "Open Sans"
$font-titulos: "Arimo"


