$cor-primaria: #4a2472
$cor-secundaria: #7843af
$cor-terciaria: #762b9ede
$preto-clasico: #0e0707
$fundo-cards: rgb(106,53,238) linear-gradient(137deg, rgba(106,53,238,1) 0%, rgba(153,48,239,1) 15%, rgba(121,92,235,1) 92%, rgba(87,55,238,1) 100%)
$branco-clasico: #FFFFFF
$font-Montserrat: "Montserrat"
$font-paragrafos:  "Open Sans"
$font-titulos: "Arimo"


