@import '../styles-global/variables';

.featurette-section
  overflow: hidden
  padding: 3rem 5em
  color: #fff
  span
    color: $cor-secundaria
    font-family: $font-Montserrat
  p
    font-family: $font-paragrafos

  .featurette
    display: flex
    align-items: center
    justify-content: center
    margin-bottom: 3rem
    opacity: 0
    transform: translateX(100%)
    transition: transform 1s ease-out, opacity 1s ease-out

    &.visible
      opacity: 1
      transform: translateX(0) 

    .featurette-heading
      font-size: 2rem
      font-weight: bold

    .lead
      font-size: 1.2rem
      .mvv
        font-size: 1.5em

    .container-image
      width: 100%
      max-width: 400px
      height: 250px
      display: flex
      justify-content: center
      align-items: center
      overflow: hidden

      img
        height: 100%
        width: auto
        object-fit: cover

  .featurette-divider
    border-top: 1px solid #666
    margin: 2rem 0

@media (max-width: 1024px)
  .featurette-section
    padding: 3em 1em

@media (max-width: 768px)
  .featurette
    flex-direction: column
    text-align: center

  .container-image
    max-width: 100%
