@import '../styles-global/variables'

.features  
    display: flex  
    justify-content: space-between  
    padding: 20px  
    background: $cor-primaria
  
    .feature  
        display: flex
        flex: 1  
        padding: 15px  
        margin: 10px  

    .description
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
    
    .icon 
        padding: 1em
        display: flex
        align-items: center

    h3  
        font-family: $font-Montserrat
        font-size: 1.2rem  
        margin-bottom: 10px  
        color: $branco-clasico

    p  
        font-size: .9rem  
        color: $branco-clasico
        font-family: $font-paragrafos


@media (max-width: 1024px)
    .features  
        flex-direction: column
        padding: 20px  5px !important
        .feature  
            padding: 15px  5px !important
    
        
               